.signup-page {
  padding: 50px 0;
}
.signup-title {
  color: #2e4c60;
  text-align: center;
}
.signup-form {
  width: 100%;
}
@media (min-width: 768px) {
  .signup-form {
    width: 500px;
    margin: auto;
  }
}

.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
}
.signup-form button[type="submit"] {
  display: block;
  margin-top: 15px;
}
.signup-form input:not([type="checkbox"]),
.signup-form select {
  padding: 10px;
  border: 1px solid lightgray;
}
.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus {
  outline: none;
  background-color: #2e4c60;
  color: #fff;
}
.signup-form input[type="checkbox"] {
  appearance: none;
  border: 1px solid #2e4c60;
  padding: 10px;
  border-radius: 50%;
  margin-top: 15px;
  vertical-align: bottom;
}
.signup-form input[type="checkbox"]:checked {
  background-color: #2e4c60;
}
.signup-form input[type="checkbox"]:hover {
  background-color: grey;
}
